twig:
    default_path: '%kernel.project_dir%/templates'
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    date:
        timezone: America/Vancouver
        format: Y-m-d g:i:s A
        interval_format: '%%d days'
    form_themes:
        - '@NinesUtil/form/bootstrap_5_layout.html.twig'
        - '@TetranzSelect2Entity/Form/fields.html.twig'
        - 'jquery.collection.html.twig'
    globals:
        asset_prefix: '%env(default::string:ROUTE_BASE)%'
        nines_editor_config: js/editor-config.js
        text_service: '@Nines\UtilBundle\Services\Text'
        clipping_img_prefix: "%clipping_img_prefix%"
        linker: '@Nines\UtilBundle\Services\EntityLinker'

when@test:
    twig:
        strict_variables: true