{% extends 'base.html.twig' %}

{# Category Detail Page #}

{% block title %}
    Category Detail
{% endblock %}

{% block classes -%}
    basic-page category-detail
{%- endblock %}

{% block pageheader %}
    <h1 class="page-title">Category Detail:</h1>
{% endblock %} 

{% block body %}
    <div class="content">
        <div class="inner">
            <!-- Admin Toolbar -->
            <div class="btn-toolbar">
                <div class="btn-group pull-right">
                    <a href="{{ path('category_index') }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span> Back </a>
                    {% if is_granted('ROLE_CONTENT_ADMIN') %}
                        <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-default">
                            <span class='glyphicon glyphicon-edit'></span> Edit </a>
                        <a href="{{ path('category_delete', { 'id': category.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Category?">
                            <span class='glyphicon glyphicon-remove'></span> Delete </a>
                    {% endif %}
                </div>
            </div>
            <!-- Category List -->
            <div class="category-detail-wrapper">
                {% embed "NinesUtilBundle:term:partial/show.html.twig" with {'term': category} %}
                {% endembed %}
            </div>
            {% if clippings|length > 0 %}
                <!-- Listing -->
                <div class="clipping-list-wrapper">
                    <ul class="clipping-list">
                        {% include 'AppBundle:clipping:partial/list.html.twig' %}
                    </ul>
                </div>
                <!-- Pager -->
                <div class="navigation bottom-pager">
                    {{ knp_pagination_render(clippings) }}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
