/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/bower
/web/images/clippings/*
!/web/images/clippings/.gitkeep
/nbproject
/web/docs
/.idea
/etc
/app/config/deploy.yml
/web/assets
/web/uploads
jquery.collection.html.twig
web/js
