parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method upload\\(\\) on array\\<array\\<Symfony\\\\Component\\\\DomCrawler\\\\Field\\\\FormField\\>\\|Symfony\\\\Component\\\\DomCrawler\\\\Field\\\\FormField\\>\\|Symfony\\\\Component\\\\DomCrawler\\\\Field\\\\FormField\\.$#"
			count: 1
			path: tests/Controller/ClippingControllerTest.php
