/**
 * Namespaces 
 * 
 **/

@use 'sass:map';

/**
 * Imports 
 * 
 **/
@import "_variables.scss";
@import "_typography.scss";
@import "_imagezoom.scss";
@import '../yarn/hamburgers/_sass/hamburgers/hamburgers.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body{
    line-height: 1.675;
    font-size: 16px;
    background-color: $circus-tan;
    font-family: "Lora", serif;
    color: $circus-black;
    overflow-x:hidden;
}


/*
 * 
 * Index page
 */
 .index{
     .navbar{
         margin-bottom:0;
     }
   .hero{
     background:url('../images/circus-hero.jpeg');
     width:100vw;
     height:70vh;
     background-attachment:fixed;
     background-size:cover;
     background-position:center;
     margin-bottom:map.get($typescale, 1);
     display:flex;
     flex-direction:column;
     align-items:center;
     justify-content:center;
     .title, .subtitle{
         background: rgba($circus-black, 0.75);
        
     }
     .title{
          margin-top:-1rem;
          padding:map.get($typescale, 1)  map.get($typescale, 1);
          margin-bottom: map.get($typescale, 2);
          img{
              max-width:80vw;
          }
     }
     .subtitle{
         color:white;
         max-width:80vw;
         padding: map.get($typescale, 8) map.get($typescale, 4);
         font-weight:normal;
     }
     
     
     
 }
    article{
         font-size: map.get($typescale, 4);
     }
 }
 

/*
 *  Main
 *  */

main{
    min-height:80vh;
    margin-bottom:10rem;
}

/* 
 * Article content
 */

article{
    
    a:not(.imgContainer):not(.btn){
        border-bottom: 0.3rem solid rgba($circus-orange, 0.5);
        line-height: 1.7;
        padding-bottom: 0.3rem;
        transition: border-bottom-color 0.2s ease-in-out;
        text-decoration:none;
        color:inherit;
        &:hover{
            border-bottom-color: $circus-orange;
            text-decoration:none;
            color:inherit;
        }
    }
    
}

/*
 *  Gallery 
 * */


.gallery{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding-left:0;
    .card{
        background: $circus-grey;
        transition:box-shadow 0.2s ease-in-out;
        cursor:pointer;
        &:hover{
            /* Box shadow taken from tailwind shadow component */
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
                        0 1px 2px 0 rgba(0, 0, 0, 0.06);
            p{
                opacity:1;
            }
            & > a.imgContainer{
                border-color:transparent;
                border-bottom:none;
            }
        }
        & > a.imgContainer{
            border: 1px dashed #BFBFBF;
            transition: border-color 0.2s ease-in-out;
            border-bottom:none;
        }
        .card-content{
            padding: map.get($typescale, 8);
        }
        h2{
            margin-bottom: map.get($typescale, 4);
        }
        p{
            opacity: 0.6;
            transition: opacity 0.2s ease-in-out;
        }
        .date.unset{
            opacity: 0.5;
        }
        .date{
            margin-bottom: map.get($typescale, 3); 
        }
        p{
            font-size: map.get($typescale, 4) * 0.90;
            font-style:italic; 
        }
        img{
            display:block;
            max-width:100%;
            height:auto;
        }
        
        /* Page fold thing, which interacts badly
         * with box shadow so not sure whether or not
         * we should keep it. */
         
         /* &:before{
            content: "";
            display:block;
            position:absolute;
            bottom:0;
            right:0;
            border-width: 2.5rem 2.5rem 0  0;
            height:1px;
            border-style:solid;
            border-color: darken($circus-grey,18%) $circus-tan $circus-tan $circus-tan;
        } */
    }
    .card, .empty{
        display:flex;
        flex-direction:column;
        flex:1 0 21%;
        margin:2rem;
        
        padding-bottom: map.get($typescale, 1);
        margin-left:0;
        min-width:20rem;
        
    }
}

/*
 *  Clipping Page 
 * */
 
 .clipping{
     display:flex;
     flex-wrap:no-wrap;
     justify-content:space-between;
     .transcription{
         margin-top: map.get($typescale, 2);
         margin-right: 10%;
     }
     
     .metadata {

        flex: 0 1 30rem;
        &.no-transcription{
          flex: 1 1 100%;  
          .metadata-content{
              flex-direction:row;
              a{
                  margin-right:2rem;
              }
          }
        }
         .metadata-content{
            position: -webkit-sticky;
            position:sticky;
            top:1rem;
            background: $circus-grey;
            padding:map.get($typescale, 4);
            display:flex;
            flex-direction:column;
            
         }
         .metadata-body{
             display:flex;
             flex-wrap:wrap;
             font-family: "Lato", sans-serif;
             font-size: 0.9em;
             & > div{
                 margin: map.get($typescale, 8);
                 flex: 1 1 30%;
             }
             h4{
                 margin-bottom: map.get($typescale, 8);
                 font-weight:200;
                 font-family: inherit;
                 font-size:inherit;
             }

         }
         
     }
 }
 
/*
 * Headings
 * 
 * This little formula iterates through all of the heading levels
 * and associates it with the typography scale
 */ 
 @for $i from 1 to 6 {
  h#{$i} {
    font-size: map.get($typescale, $i);
    font-family: "Playfair Display";
    margin-bottom:map.get($typescale, $i);
  }
}

/* 
 * Header
 * 
 */

.horses{
    height:10vh;
    background: url('../images/circus-header.png');
    background-size:contain;
    background-repeat:repeat-x;
    transform:translateX(0);
    width:300vw;
    /* Shhh...it's a secret */
    &.egg{
        transform: translateX(-100vw);
           transition: transform 8s linear;
    }
}

/* 
 * 
 * Header navbar
 * 
 * Most of the follow consists of 
 * bootstrap overrides, grr.
 * 
 */

.navbar{
    background:$circus-black;
    border-radius:0;
    font-size: map.get($typescale, 3);
    .navbar-brand{
        padding-right:1.5rem;
        margin-right: 1rem;
        border-right: 2px dashed $circus-tan;
        height:115%;
        img {
            width:13rem;
        }
    }
    
    .dropdown-menu{
        background: $circus-black;
        font-size: map.get($typescale, 3);
        & > li > a{
            transition: background 0.2s ease;
            &:focus, &:hover{
               background: rgba($circus-orange, 0.8);
            }
        }
    }
    *{
        color:white;
    }
    a{
        color:inherit;
        text-shadow:none;
    }
    
    .hamburger{
        display:none;
    }
    
    .nav .open > a{
       background: inherit;
       &:hover, &:focus{
           background:inherit;
       }
    }
    
    .nav > li > a{
        border-bottom: .2rem solid transparent;
         transition: border-bottom-color 0.2s ease;
       &:hover, &:focus{
            background-color: inherit;
            border-bottom-color: $circus-orange;
        }
    }
    .dropdown-menu > li > a{
        color:white;

    }
    a.dropdown-toggle{
        &::after{
        content: "\e080";
        font-size:1rem;
        font-weight:200;
        font-family: "Glyphicons Halflings";
        margin-left: .5rem;
        margin-right:.5rem;
        display:inline-block;
        transform: rotate(0deg);
        transition: transform 0.2s ease-in-out;
       }
       &[aria-expanded='true']::after{
           transform:rotate(90deg);
       }
    }
}


 

/*
 *  Blog pages
 *  */
 
 .user .text-right{
     display:none;
 }

/*
 *  Footer
 *  */
 
footer{

 /* REMOVE THIS ONCE CONTENT ADDED */
    height: 30vh;
    &::before{
        content:"";
        display:block;
        width:65%;
        height:.2rem;
        background:$circus-orange;
        margin: .5rem auto;
    }
}

/*
 *  Search
 *  */

.search-results{
    list-style-type:none;
    margin-left:0;
    padding-left:0;
    li{
        background: #f9f9f9;
        font-size: map.get($typescale, 4) * 0.9;
        margin:0;
        padding:.25rem;
    }
    
    
    li + li{
        margin-top: map.get($typescale, 8);
    }
    
}

mark{
    background: rgba($circus-orange, 0.4);
}



@import "_mobile.scss";