{% extends 'base.html.twig' %}

{% block title %}Clippings Search{% endblock %}

{% block pageheader %}
    <h1>Clippings Search</h1>
    {% include 'AppBundle:misc:search-header.html.twig' with {'results': clippings} %}
{% endblock %} 

{% block body %}

    {% include 'AppBundle:misc:search-form.html.twig' with {'search_path': 'clipping_search'} %}

    {% if q %}
        {% include 'AppBundle:Clipping:partial/list.html.twig' with {'query': q} %}
    {% endif %}

    {% include 'AppBundle:misc:search-footer.html.twig' with {'results': clippings} %}


{% endblock %}
