@charset "UTF-8";
/**
 * Namespaces 
 * 
 **/
/**
 * Imports 
 * 
 **/
/*
 * 
 * Hamburger menu mods
 *  */
/* Only include spin */
/* Override color */
/* We'll just Google get the fonts for now */
@import url("https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Lora:400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap");
/* CSS Library for imagezoom, with some styling support from
 * 
 *  */
/* Loader circle (one element!) comes from
 * 
 * https://projects.lukehaas.me/css-loaders/
 * 
 * with many thanks.
 *  */
#facsViewerContainer {
  display: none;
}
#facsViewerContainer.open {
  display: flex;
  background: black;
  color: white;
  margin: auto;
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  padding-right: 2rem;
  align-self: center;
  z-index: 9000;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#facsViewerContainer.open #facs_closer {
  font-size: 4rem;
  color: white;
  justify-self: flex-end;
  left: -3.5rem;
  display: block;
  position: relative;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
#facsViewerContainer.open #facs_closer:hover {
  color: #C03F2A;
  transition: color 0.2 ease-in-out;
}
#facsViewerContainer.loaded #facs_loader {
  display: none;
}

#facs_loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#facs_loader .loader,
#facs_loader .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
#facs_loader .loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.facs-overlay #header_overlay {
  background: black;
  opacity: 0.7;
  width: 100vw;
  height: 101vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(2px);
  z-index: 8000;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
  width: 30px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -7.5px;
}
.hamburger-inner::after {
  bottom: -7.5px;
}

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  line-height: 1.675;
  font-size: 16px;
  background-color: #FFF7EB;
  font-family: "Lora", serif;
  color: #080705;
}

/*
 *  Main
 *  */
main {
  min-height: 80vh;
  margin-bottom: 10rem;
}

/* 
 * Article content
 */
article a:not(.imgContainer):not(.btn) {
  border-bottom: 0.3rem solid rgba(192, 63, 42, 0.5);
  line-height: 1.7;
  padding-bottom: 0.3rem;
  transition: border-bottom-color 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
}
article a:not(.imgContainer):not(.btn):hover {
  border-bottom-color: #C03F2A;
  text-decoration: none;
  color: inherit;
}

/*
 *  Gallery 
 * */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}
.gallery .card {
  background: #F2F2F2;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  /* Page fold thing, which interacts badly
   * with box shadow so not sure whether or not
   * we should keep it. */
  /* &:before{
      content: "";
      display:block;
      position:absolute;
      bottom:0;
      right:0;
      border-width: 2.5rem 2.5rem 0  0;
      height:1px;
      border-style:solid;
      border-color: darken($circus-grey,18%) $circus-tan $circus-tan $circus-tan;
  } */
}
.gallery .card:hover {
  /* Box shadow taken from tailwind shadow component */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.gallery .card:hover .date:not(.unset), .gallery .card:hover p {
  opacity: 1;
}
.gallery .card h2 {
  margin-bottom: 1.563rem;
}
.gallery .card .date, .gallery .card p {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
.gallery .card .date.unset {
  opacity: 0.5;
}
.gallery .card .date {
  margin-bottom: 1.953rem;
}
.gallery .card p {
  font-size: 1.4067rem;
  font-style: italic;
}
.gallery .card img {
  display: block;
  max-width: 100%;
  height: auto;
}
.gallery .card, .gallery .empty {
  display: flex;
  flex-direction: column;
  flex: 1 0 21%;
  margin: 2rem;
  padding: 0.64rem;
  padding-bottom: 3.052rem;
  margin-left: 0;
  min-width: 20rem;
}

/*
 *  Clipping Page 
 * */
.clipping {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
}
.clipping .transcription {
  margin-top: 2.441rem;
  margin-right: 10%;
}
.clipping .metadata {
  flex: 0 1 30rem;
}
.clipping .metadata.no-transcription {
  flex: 1 1 100%;
}
.clipping .metadata.no-transcription .metadata-content {
  flex-direction: row;
}
.clipping .metadata.no-transcription .metadata-content a {
  margin-right: 2rem;
}
.clipping .metadata .metadata-content {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  background: #F2F2F2;
  padding: 1.563rem;
  display: flex;
  flex-direction: column;
}
.clipping .metadata .metadata-body {
  display: flex;
  flex-wrap: wrap;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
}
.clipping .metadata .metadata-body > div {
  margin: 0.64rem;
  flex: 1 1 30%;
}
.clipping .metadata .metadata-body h4 {
  margin-bottom: 0.64rem;
  font-weight: 200;
  font-family: inherit;
  font-size: inherit;
}

/*
 * Headings
 * 
 * This little formula iterates through all of the heading levels
 * and associates it with the typography scale
 */
h1 {
  font-size: 3.052rem;
  font-family: "Playfair Display";
  margin-bottom: 3.052rem;
}

h2 {
  font-size: 2.441rem;
  font-family: "Playfair Display";
  margin-bottom: 2.441rem;
}

h3 {
  font-size: 1.953rem;
  font-family: "Playfair Display";
  margin-bottom: 1.953rem;
}

h4 {
  font-size: 1.563rem;
  font-family: "Playfair Display";
  margin-bottom: 1.563rem;
}

h5 {
  font-size: 1.25rem;
  font-family: "Playfair Display";
  margin-bottom: 1.25rem;
}

/* 
 * Header
 * 
 */
.horses {
  height: 10vh;
  background: url("../images/circus-header.png");
  background-size: contain;
  background-repeat: repeat-x;
}

/* 
 * 
 * Header navbar
 * 
 * Most of the follow consists of 
 * bootstrap overrides, grr.
 * 
 */
.navbar {
  background: #080705;
  border-radius: 0;
}
.navbar .dropdown-menu {
  background: #080705;
}
.navbar .dropdown-menu > li > a {
  transition: background 0.2s ease;
}
.navbar .dropdown-menu > li > a:focus, .navbar .dropdown-menu > li > a:hover {
  background: rgba(192, 63, 42, 0.8);
}
.navbar * {
  color: white;
}
.navbar a {
  color: inherit;
  text-shadow: none;
}
.navbar .hamburger {
  display: none;
}
.navbar .nav .open > a {
  background: inherit;
}
.navbar .nav .open > a:hover, .navbar .nav .open > a:focus {
  background: inherit;
}
.navbar .nav > li > a {
  border-bottom: 0.2rem solid transparent;
  transition: border-bottom-color 0.2s ease;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  background-color: inherit;
  border-bottom-color: #C03F2A;
}
.navbar .dropdown-menu > li > a {
  color: white;
}
.navbar a.dropdown-toggle::after {
  content: "▾";
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.navbar a.dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-90deg);
}

/*
 *  Blog pages
 *  */
.user .text-right {
  display: none;
}

/*
 *  Footer
 *  */
footer {
  /* REMOVE THIS ONCE CONTENT ADDED */
  height: 30vh;
}
footer::before {
  content: "";
  display: block;
  width: 65%;
  height: 0.2rem;
  background: #C03F2A;
  margin: 0.5rem auto;
}

/*
 *  Search
 *  */
.search-results {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.search-results li {
  background: #f9f9f9;
  font-size: 1.4067rem;
  margin: 0;
  padding: 0.25rem;
}
.search-results li + li {
  margin-top: 0.64rem;
}

mark {
  background: rgba(192, 63, 42, 0.4);
}

@media (max-width: 767px) {
  article img {
    width: 100%;
    max-width: 320px;
    height: auto;
  }

  .clipping {
    flex-direction: column-reverse;
  }
  .clipping a.imgContainer {
    text-align: center;
    margin-bottom: 0.64rem;
  }
  .clipping .metadata .metadata-body > div {
    flex: 1 1 45%;
  }
  .clipping .transcription {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #facsCloser {
    left: 0;
  }

  .navbar .hamburger {
    display: block;
  }
}

/*# sourceMappingURL=circus.css.map */
