/* normalize.css - mbehiels - 201219 */

/* @group natural box layout model */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


/* @end */

/* @group HTML5 display definitions and corrections */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

/* @end */

/* @group Global Font Definitions */

html { /*Base Font*/
	font-family: 'Times New Roman', 'Georgia', Times, serif;
    font-family: 'Source Serif Pro', serif;
	font-size: 100%;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 21px;
}

body { /*Base Font*/
	font-family: 'Times New Roman', 'Georgia', Times, serif;
    font-family: 'Source Serif Pro', serif;
	font-size: 100%;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 21px;
	color: #333333;
}

button,
input,
select,
textarea {
	font-family: Helvetica, Verdana, Tahoma, "DejaVu Sans", sans-serif;
	/*font-family: 'latoregular', sans-serif;*/
}

/* @end */

/* @group Global Margins */

body {
	margin: 0;
	padding: 0;
	/*padding: 20px 0 0; RESET TO ZERO at PROD*/
}



/* @end */

/* @group Global Links */

a:link {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	color: #666666;
}

a:visited {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	color: #999999;
}

a:hover,
a:focus {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	outline: 0;
	color: #990000;
	/*color: lime;*/
}

a:active,
a.active {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	color: #990000;
}

a:active:hover,
a.active:hover,
a:visited:hover  {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	color: #666666;
	color: #990000;
}

/*a:focus {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	outline: 0;
	color: #96C26D;
}*/

/*a:active,
a:hover {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	outline: 0;
}*/


/* @end */

/* @group typography */

p,
pre {
	margin: 5px 0 10px;
	padding: 0;
}

strong,
b {
    font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
}

em,
i {
    font-family: 'Source Serif Pro', serif;
	font-style: italic;
	text-decoration: none;
	font-variant: normal;
}

blockquote {
	margin: 25px 30px;
	/*background-color: fuchsia;*/
}

/* @group headers */

h1 {
	margin: 20px 0 10px;
	padding: 0;
	font: normal normal 36px/40px 'Domine', serif;
	text-decoration: none;
}

h2 {
	margin: 35px 0 20px;
	padding: 0;
	font: normal normal 22px/28px 'Domine', serif;
	text-decoration: none;
}

.h2 {
	margin: 35px 0 20px;
	padding: 0;
	font: normal normal 22px/28px 'Domine', serif;
	text-decoration: none;
}

h3 {
	margin: 15px 0;
	padding: 0;
	font: normal normal 18px/20px 'Domine', serif;
	text-decoration: none;
}

h4 {
	margin: 15px 0;
	padding: 0;
	font: normal normal 16px/18px 'Domine', serif;
	text-decoration: none;
}

h5 {
	margin: 15px 0;
	padding: 0;
	font: normal normal 16px/18px 'Domine', serif;
	text-decoration: none;
}

h6 {
	margin: 15px 0;
	padding: 0;
	font: normal normal 16px/18px 'Domine', serif;
	text-decoration: none;
}



/* @end */

abbr[title] {
	border-bottom: 1px dotted;
}

dfn {
	font-style: italic;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	width: 98%;
	border: 1px solid #666666;
	padding-bottom: -1px;
	margin: 10px 0;
}

mark {
	/*background: #FFFF00;*/
	background: #c4dbff;
	padding: 0;
}

code,
kbd,
pre,
samp,
tt,
var {
	font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
	line-height: 1.5em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -8px;
}

sub {
	bottom: -4px;
}

/* @end */

/* @group lists */

dl,
ol,
ul {
	margin: 25px 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin: 0;
}

ul ul {
	list-style-type: disc;
}

dd {
	margin: 0 0 0 30px;
}

ol,
ul {
	padding: 0 0 0 30px;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

/* @end */

/* @group images */

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	height: auto;
	vertical-align: bottom; 
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

/* @end */

/* @group forms */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	/*background-color: aqua;*/
	width: 100%;
	margin: 0;
	padding: 10px;
	/*border: 1px solid #333333;*/
}

legend {
	/*background-color: lime;*/
	border: 0;
	padding: 5px;
	margin: 0 0 0 -7px;
	font-weight: bold;
	font: normal normal 18px/18px 'Source Serif Pro', serif;

}

label {
	/*background-color: orangered;*/
	display: block;
	font-weight: bold;
	font: normal normal 18px/18px 'Source Serif Pro', serif;
	margin: 0 0 5px;
	padding: 5px;
}

/* @group form elements */

button,
input,
select,
textarea {
	/*width: 100%;*/
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

/* @end */

/* @end */

/* @group tables */

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

th {
	vertical-align: top;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	font: normal normal 18px/18px 'Source Serif Pro', serif;
}

/*tr.even,
tr.odd {
	background-color: #eee;
	background-color: transparent;
	border-bottom: 1px solid #ccc;
	border: none;
	margin: 0;
	padding: 2px 5px;
}*/

/*tr.even {
	background-color: #fff;
	background-color: transparent;
}*/

td {
	vertical-align: top;
}

/* @end */
