{% extends 'base.html.twig' %}

{# Clipping Listing Page #}



{% block title %}
    All Items
{%- endblock %}

{% set breadpath = 
{ 0:{
'title': 'All Items'
}
}
%}


{% block pageheader %}
    <h1>All Items</h1>
{% endblock %} 

{% block admin %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a href="{{ path('clipping_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New Item
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}



{% block body %}
<!-- Admin Toolbar -->


<article>
    
    {% include 'clipping/partial/gallery.html.twig' %}
    
</article>


<!-- Pager -->
<div class="navigation bottom-pager">
    {{ knp_pagination_render(clippings) }}
</div>

        
            <!-- List Count -->
            {# <div class="listing-count">
                <p>Displaying <strong>{{ clippings|length }}</strong> items of
                    <strong>{{ clippings.getTotalItemCount }}</strong> total.</p>
            </div> #}
            
           

{% endblock %}
