{% extends 'base.html.twig' %}

{# Clipping Search and Search ListingPage #}

{% block title -%}
    Clippings Search
{%- endblock %}

{% block classes -%}
    basic-page clipping-search-list
{%- endblock %}

{% block pageheader %}
    <h1 class="page-title">Clippings Search</h1>
{% endblock %} 

{% block body %}
    <div class="search-form-header">
        {% include 'misc/search-form.html.twig' with {'search_path': 'clipping_search'} %}
    </div>
    <div class="listing-count">
        <p>{% include 'misc/search-header.html.twig' with {'results': clippings} %}</p>
    </div>
    <article>
        {% include 'clipping/partial/gallery.html.twig' with {'query': q } %}
    </article>
    <div class="navigation bottom-pager">
        {% include 'misc/search-footer.html.twig' with {'results': clippings} %}
    </div>
{% endblock %}
